
<div class="bg-gray-900">
	<div class="p-5 mx-auto sm:p-10 md:p-16 text-gray-800 h-full">
		<div class="flex flex-col max-w-3xl mx-auto overflow-hidden rounded">
			<img src="https://images.unsplash.com/photo-1542435503-956c469947f6?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="w-full h-60 sm:h-96 dark:bg-gray-500">
			<div class="p-6 pb-12 m-4 mx-auto -mt-16 space-y-6 lg:max-w-2xl sm:px-10 sm:mx-12 lg:rounded-md bg-gray-800">
				<div class="space-y-2">
					<h1 rel="noopener noreferrer" href="#" class="inline-block text-2xl font-semibold sm:text-3xl text-white"><%= @blog.title %></h1>
					<p class="text-xs text-white">By
						<a rel="noopener noreferrer" href="#" class="text-xs hover:underline">Jane Doe</a>
					</p>
				</div>
				<div class="text-white">
					<p><%= @blog.content %></p>
				</div>

				<div class="flex justify-center">
					<div class="flex items-center mt-6 gap-x-4 shrink-0 lg:mt-0">
						<button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"><%= link_to 'Edit', edit_blog_path(@blog) %></button>
						<button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none"><%= link_to 'Back', blogs_path %></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>